# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\React\casestudy_project\.idea/dataSources/
/../../casestudy_project/.idea/misc.xml
/casestudy_project.iml
# Editor-based HTTP Client requests
/httpRequests/
